.k-table-field,
.k-block-type-table {
  .k-table {
    thead {
      .k-table-column {
        padding: 0 var(--spacing-3);
        .k-text {
          width: 100%;
        }
        .k-text-input {
          padding: var(--spacing-2) 0;
        }
      }
      .k-table-header {
        .k-bar {
          gap: var(--spacing-2);
        }
        .k-button {
          width: var(--button-width);
          color: initial;
          padding: 0;
          &.k-sort-button {
            aspect-ratio: 1/2;
          }
        }
        .k-dropdown-content {
          margin-top: 8px;
          margin-left: 11px;
          .k-button {
            font-family: var(--font-sans);
            font-size: var(--text-sm);
            color: var(--button-color-text);
            height: var(--button-height);
            padding-inline: var(--button-padding);
          }
        }
        &:has(.k-options-dropdown > dialog),
        &:has(.k-text-input:focus) {
          outline: var(--outline);
          outline-offset: -1px;
          border-radius: var(--input-rounded);
        }
      }
    }

    tbody {
      tr:has(.k-options-dropdown > dialog) {
        outline: var(--outline);
        outline-offset: -1px;
        border-radius: var(--input-rounded);
      }
      .k-table-column {
        overflow: initial;
        .k-writer .ProseMirror {
          padding: var(--spacing-2) var(--spacing-3);
        }
      }
      .k-table-cell {
        &:where(:focus,:focus-visible,:focus-within) {
          outline: var(--outline);
          outline-offset: -1px;
          border-radius: var(--input-rounded);
        }
      }
    }
    
    + footer {
      display: flex;
	    justify-content: center;
      margin-top: var(--spacing-3);
    }
  }
}

.k-block-type-table {
  padding: var(--input-padding-multiline);
  .k-table {
	  border: 1px solid var(--table-color-border);
    .k-table-column {
      padding: 0;
    }
  }
}
