.k-table-field {
  .k-table {
    .k-table-header {
      .k-button {
        color: initial;
        width: var(--button-width);
        padding: 0;
        aspect-ratio: auto;
      }
      .k-bar {
        gap: var(--spacing-2);
      }
      .k-text {
        width: 100%;
      }
      .k-dropdown-content .k-button {
        font-family: var(--font-sans);
        font-size: var(--text-sm);
        color: var(--button-color-text);
        height: var(--button-height);
        border-radius: var(--button-rounded);
        padding-inline: var(--button-padding);
      }
    }
    .k-table-column {
      padding: 0 var(--spacing-3);
    }
    .k-text-input {
      padding: var(--spacing-2) 0;
    }
    + footer {
      display: flex;
	    justify-content: center;
      margin-top: var(--spacing-3);
    }
  }
}
