.k-table-field {  
  .k-table {
    .k-bar {
      gap: var(--spacing-2);
    }
    thead {
      tr, tr:hover {
        .k-sort-handle {
          display: contents !important;
        }
      }
      th.k-table-options-column {
        .k-button {
          padding: 0;
        }
      }
    }
    + footer.k-bar:where([data-align=center]) {
      justify-content: center;
    }
  }
}
