.k-table-field {
  .k-table {
    thead th {
      .k-button {
        color: initial;
        width: var(--button-width);
        padding: 0;
      }
    }
    .k-table-column {
      padding: 0 var(--spacing-3);
    }
    .k-text-input {
      padding: var(--spacing-2) 0;
    }
    + footer.k-bar {
      margin-top: var(--spacing-3);
    }
  }
}
