.k-table-field {
  .k-table {
    position: relative;

    .k-table-column {
      padding: 0;
      overflow: initial;
    }

    thead {
      .k-table-header {
        padding: 0 var(--spacing-3);
        .k-button {
          color: initial;
          padding: 0;
          &.k-sort-button {
            width: var(--button-width);
            aspect-ratio: .4;
          }
        }
        .k-bar {
          gap: var(--spacing-2);
        }
        .k-text {
          width: 100%;
        }
        .k-text-input {
          padding: var(--spacing-2) 0;
        }
        .k-dropdown-content {
          margin-top: 8px;
          margin-left: 11px;
          .k-button {
            font-family: var(--font-sans);
            font-size: var(--text-sm);
            color: var(--button-color-text);
            height: var(--button-height);
            border-radius: var(--button-rounded);
            padding-inline: var(--button-padding);
          }
        }
        &:has(.k-options-dropdown > dialog),
        &:has(.k-text-input:focus) {
          outline: var(--outline);
          outline-offset: -1px;
          border-radius: var(--input-rounded);
        }
      }
    }

    tbody {
      tr:first-child td {
        border-block-start: 1px solid var(--table-color-border);
      }
      tr:has(.k-options-dropdown > dialog) {
        outline: var(--outline);
        border-radius: var(--input-rounded);
      }
      .k-table-cell .k-text-input {
        padding: var(--spacing-2) var(--spacing-3);
        &:where(:focus,:focus-visible,:focus-within) {
          outline: var(--outline);
        }
      }
    }
    
    + footer {
      display: flex;
	    justify-content: center;
      margin-top: var(--spacing-3);
    }
  }
}
